<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Modifier - Personnes - Parcinfo</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/parcinfo.min.css}"/>
</head>
<body>
<header th:insert="fragments/header"></header>
<main class="personnes">
    <h2>Appareils affectés à
        <span
                th:text="${personne.id + ' - ' + personne.prenom + ' ' + personne.nom}"></span>
    </h2>
    <div>
        <form method="post" th:object="${personne}">
            <input th:field="*{id}" type="hidden"/>

            <div class="form-group middle">
                <label class="form-label" for="listAppareils">
                    Appareils affectés
                </label>
                <select id="listAppareils"
                        th:name="appareils"
                        multiple>
                    <option th:each="appareil : ${listAppareils}"
                            th:text="${appareil.libelle}"
                            th:value="${appareil.id}"
                            th:selected="${personne.appareils.contains(appareil)}">
                    </option>
                </select>
            </div>

            <div class="form-group large">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</main>
<footer th:insert="fragments/footer"></footer>
</body>
</html>
