:root{
  --color-background: #f1f1f1;
  --color-font: #1f1f1f;
  --color-component: #6e6a6a;
  --font-family: "Roboto Light";
  --border-width: 1px;
  --table-width: 560px;
}

html, body{
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

header, footer{
  background-color: var(--color-component);
  color: var(--color-background);

  a {
    color: var(--color-background);
    text-decoration: none;
  }
}

main {
  min-height: 100vh;
  padding: 0 0.5rem;
}

h4{
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 2rem auto;

  @media (min-width: 465px){
    max-width: 50%;
  }

  a{
    float: right;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 0.5rem;
    color: green;
    text-decoration: none;

    &:hover{
      background-color: rgba(0, 0, 0, .2);
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 2rem auto;

  @media (min-width: 677px) {
    max-width: 50%;
  }

  table{
    min-width: 677px;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 100%;

    tr{
      border: var(--border-width) solid var(--color-component);
      border-collapse: collapse;

      th, td {
        padding: 0.5rem;
      }
    }

    &.table-striped {

      thead{

        tr:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, .05);
        }

        tr:last-of-type{
          th{
            border-bottom: 2px solid var(--color-component);
          }
        }
      }

      tbody{
        tr:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, .05);
        }

        tr{
          td:last-child {
            a {
              padding: 0.25rem;
              text-decoration: none;

              &.warn {
                color: orange;

                &:hover {
                  color: darkorange;
                }
              }

              &.danger {
                color: red;

                &:hover {
                  color: darkred;
                }
              }
            }
          }
        }
      }
    }
  }
}

@import "header";
@import "main";
@import "footer";