:root {
  --color-background: #f1f1f1;
  --color-font: #1f1f1f;
  --color-component: #6e6a6a;
  --font-family: "Roboto Light";
  --border-width: 1px;
  --table-width: 560px;
}
html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}
header,
footer {
  background-color: var(--color-component);
  color: var(--color-background);
}
header a,
footer a {
  color: var(--color-background);
  text-decoration: none;
}
main {
  min-height: 100vh;
  padding: 0 0.5rem;
}
h4 {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 2rem auto;
}
@media (min-width: 465px) {
  h4 {
    max-width: 50%;
  }
}
h4 a {
  float: right;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  color: green;
  text-decoration: none;
}
h4 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin: 2rem auto;
}
@media (min-width: 677px) {
  .table-responsive {
    max-width: 50%;
  }
}
.table-responsive table {
  min-width: 677px;
  margin-bottom: 1rem;
  background-color: transparent;
  width: 100%;
}
.table-responsive table tr {
  border: var(--border-width) solid var(--color-component);
  border-collapse: collapse;
}
.table-responsive table tr th,
.table-responsive table tr td {
  padding: 0.5rem;
}
.table-responsive table.table-striped thead tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-responsive table.table-striped thead tr:last-of-type th {
  border-bottom: 2px solid var(--color-component);
}
.table-responsive table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-responsive table.table-striped tbody tr td:last-child a {
  padding: 0.25rem;
  text-decoration: none;
}
.table-responsive table.table-striped tbody tr td:last-child a.warn {
  color: orange;
}
.table-responsive table.table-striped tbody tr td:last-child a.warn:hover {
  color: darkorange;
}
.table-responsive table.table-striped tbody tr td:last-child a.danger {
  color: red;
}
.table-responsive table.table-striped tbody tr td:last-child a.danger:hover {
  color: darkred;
}
header {
  border-radius: 0 0 0.5rem 0.5rem;
}
header nav {
  padding: 0.5rem;
}
header nav h2 {
  margin: 0;
  display: inline-flex;
}
header nav input {
  display: none;
}
@media (max-width: 494px) {
  header nav input:checked ~ ul {
    display: inline-flex;
  }
  header nav input ~ ul {
    display: none;
  }
}
@media (min-width: 495px) {
  header nav label {
    display: none;
  }
}
header nav label span {
  vertical-align: bottom;
  float: right;
}
header nav ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
}
@media (max-width: 494px) {
  header nav ul {
    flex-flow: column;
    width: 100%;
    padding: 0;
  }
}
header nav ul li {
  padding: 0 0.5rem;
}
@media (max-width: 494px) {
  header nav ul li {
    padding: 0.5rem;
  }
}
footer {
  border-radius: 0.5rem 0.5rem 0 0;
}
footer .footer-inner {
  padding: 0.5rem 0;
}
footer .footer-inner ul {
  margin: 0;
  list-style: none;
  display: inline-flex;
}
@media (max-width: 494px) {
  footer .footer-inner ul {
    flex-flow: column;
    width: 100%;
    padding: 0;
  }
}
footer .footer-inner ul li {
  padding: 0 0.5rem;
}
@media (max-width: 494px) {
  footer .footer-inner ul li {
    padding: 0.5rem;
  }
}
